
$background-blue: #004980;
$blue:#C2F5FF;

@font-face {
    font-family: 'StratosSkyeng';
    src: url(content/fonts/statosskyeng-v1.001/Web\ fonts/statosskyeng-v1);
}

body{
    margin: 0;
    padding: 0;
}


@import 'start-menu';