.game{
    width: 100%;
    height: 100vh;

    &_header{
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-around;
        align-items: center;
    }

    &_main{
        height: 30vh;
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
    }

    &_front{
        &_card{
            width: 95px;
            height: 133px;
            background: #FFF;
            border-radius: 4px;
        }
    }
    
}

.timer{
    display: flex;
    align-items: center;

    &_mil{
        color: #FFF;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
    }

    &_sec{
        color: #FFF;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
    }

    &_dot{
        color: #FFF;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
    }

}