@import 'start-menu';
@import 'game';

$background-blue: #004980;
$blue: #C2F5FF;
$font: stratosskyeng;

@font-face {
    font-family: stratosskyeng;
    src: url("/content/fonts/stratosskyeng-regular.otf");
}

.center{
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

body{
    margin: 0;
    padding: 0;
    background-color: $background-blue;
}

.app{
    width: 100%;
    height: 100vh;
    background-color: $background-blue;
    display: grid;
    place-items: center;  
}




